@import "tailwindcss";

@theme {
  --color-main-bg: #0F172A;
  --color-card-bg: #111827;
  --color-primary: #A3FF12; 
  --color-primary-hover: #b4ff3b;
  --color-secondary-text: #94A3B8;
  --color-border-color: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--color-main-bg);
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}